.markdown-text {
    img {
        display: block;
        max-width: 75%;
        height: auto;
        margin: 1rem auto;
    }

    .markdown-image {
        max-width: 75%;
        margin: 1rem auto;
        text-align: center;

        img {
            max-width: 100%;
            margin: 0 auto;
        }

        figcaption {
            text-align: center;
        }
    }

    p:has(> img:only-child),
    p:has(> .markdown-image:only-child) {
        text-align: center;
    }

    .blockquote {
        border: 1px solid var(--mantine-color-blue-6);
    }
}