.markdown-text {
    img {
        display: block;
        max-width: 75%;
        height: auto;
        margin: 1rem auto;
        border-radius: var(--mantine-radius-sm);
    }

    .markdown-image {
        max-width: 75%;
        margin: 1rem auto;
        text-align: center;

        img {
            max-width: 100%;
            margin: 0 auto;
        }

        figcaption {
            text-align: center;
        }
    }

    p:has(> img:only-child),
    p:has(> .markdown-image:only-child) {
        text-align: center;
    }

    .alert-blockquote {
        border: 1px solid var(--mantine-color-blue-6);
        // Stupid overrides because it isn't a Mantine app if I don't fight it
        .mantine-Alert-body {
            .mantine-Alert-message {
                p {
                    color: var(--mantine-color-text) !important;
                    font-size: var(--mantine-font-size-sm) !important;
                }
            }
        }
    }
}