.footer {
    border-top: 1px solid var(--mantine-color-dark-5);
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
        color: var(--mantine-color-gray-1) !important;
    }
}