@use "./Layout.scss";
@use "./Header.scss";
@use "./components/Logo.scss";
@use "./components/DownloadButton.scss";
@use "./components/MarkdownText.scss";
@use "./components/RollingNumber.scss";
@use "./components/spotlight/SpotlightAction.scss";
@use "./components/checks/CheckLayout.scss";
@use "./components/checks/CheckCard.scss";
@use "./components/home/HeroSection.scss";
@use "./components/home/HeroLogo.scss";
@use "./components/home/HomeSection.scss";
@use "./components/home/DownloadCtaSection.scss";
@use "./components/home/HomeFooter.scss";
@use "./components/releases/ReleasesPage.scss";

html {
    color-scheme: dark;
    background-color: #161d28;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: var(--mantine-color-primary-2) var(--mantine-color-body);
}

::-webkit-scrollbar {
    width: 12px;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    background-color: var(--mantine-color-body, #161d28);
}

/* Selection */
::selection {
    background-color: var(--mantine-color-primary-2);
    color: var(--mantine-color-black);
}

::moz-selection {
    background-color: var(--mantine-color-primary-2);
    color: var(--mantine-color-black);
}

/* Scrollbar */
::-webkit-scrollbar-track {
    background: var(--mantine-color-body);
}

::-webkit-scrollbar-thumb {
    background-color: var(--mantine-color-primary-2);
    border-radius: 8px;
    border: 4px solid var(--mantine-color-body);

    &:hover {
        background-color: var(--mantine-color-primary-4);
    }
}

/** Check icon colors */
:root {
    --check-icon-color-problem: #cd555a;
    --check-icon-color-warning: #e1a642;
    --check-icon-color-minor: #55cd78;
    --check-icon-color-error: #9297ac;
    --check-icon-color-info: #2ec4a8;
}