@use "sectionBleed" as *;

.download-cta {
    @include section-full-bleed;
    background-color: var(--mantine-color-dark-8);
    padding: 4rem 0 5rem;
}

.download-cta__button {
    width: auto;
    min-width: 16rem;
    padding: 1.25rem 3rem !important;
}
