.hero__tagline {
    text-align: center;
}

.hero__tagline--nowrap {
    white-space: nowrap;
}

.hero__video {
    flex-shrink: 0;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
