.home-section {
    padding: 4rem 0;
    width: 100%;
}

.home-section__layout {
    max-width: 72rem;
    margin: 0 auto;
    padding: 0 var(--mantine-spacing-md);
}

.home-section__image {
    flex-shrink: 0;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
