.home-section {
    width: calc(100vw - 5px);
    margin-inline: calc(50% - 50vw);
    padding: 4rem 0;
    box-sizing: border-box;
}

.home-section__layout {
    max-width: 72rem;
    margin: 0 auto;
    padding: 0 var(--mantine-spacing-md);
}

.home-section__image {
    flex-shrink: 0;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}